/.*
!.gitignore

node_modules
__pycache__

eagle.epf
*.s#?
*.b#?
*.l#?
*.pro
*.job
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.drd
*.drd.*
*.info
*.eps
*.lck

